.sell-container
  =render "items/ease-header"

.main-container
  .buy-container
    .buy-container__head 購入内容の確認
    .buy-container__item
      .buy-container__item--inner
        .item-image
          = image_tag @images.first.src.url ,class: "item-image__photo"
        .item-detail
          .item-detail__name
            = @item.name
          .item-detail__price
            .item-price 
              = number_to_currency(@item.price, unit: "￥", strip_insignificant_zeros: true)
            .item-fee
              （税込）送料込み
    .buy-container__pay
      .buy-content-inner
        .buy-price
          .buy-price__label 支払い金額
          .buy-price__pay
            = number_to_currency(@item.price, unit: "￥", strip_insignificant_zeros: true)
    
    .buy-container__way
      .buy-content-inner
        .pay-way
          .pay-way__label 支払い方法
          - if @default_card_information.blank?
            %br /
          - else
            -#以下カード情報を表示
            .card-number
              クレジットカード
              = "**** **** **** " + @default_card_information.last4
            .card-date
              有効期限
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year

    .buy-container__Shipping-address
      .buy-content-inner
        .Shipping-address
          .Shipping-address__label 発送先
          .buy-register-text
            %i.fas.fa-plus-circle
            =link_to '登録してください', '#'
                  
    .buy-container__form
      = form_tag(action: :pay, method: :post) do
        %button.buy-btn 購入する
      
=render "items/ease-footer"