.appBanner
  .appBanner__inner
    .appBanner__inner--title
      だれでもかんたん、人生を変えるフリマアプリ
    .appBanner__inner--text
      今すぐ無料ダウンロード！
    .appBanner__inner--icon
      = link_to "#", class:"storeLink" do
        .appBanner__inner--icon--apple
          = image_tag "Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg", class: "storeIcon--a"
      = link_to "#", class:"storeLink" do
        .appBanner__inner--icon--google
          = image_tag "google-play-badge (1).png", class: "storeIcon--g"
.footer
  .footer__contents
    .footer__contents__box
      .footer__contents__box--head
        FURIMAについて
      .footer__contents__box--list
        = link_to "#", class: "linkFooter" do
          会社概要(運営会社)
      .footer__contents__box--list
        = link_to "#", class: "linkFooter" do
          プライバシーポリシー
      .footer__contents__box--list
        = link_to "#", class: "linkFooter" do
          FURIMA利用規約
      .footer__contents__box--list
        = link_to "#", class: "linkFooter" do
          ポイントに関する特約
    .footer__contents__box
      .footer__contents__box--head
        FURIMAを見る
      .footer__contents__box--list
        = link_to "#", class: "linkFooter" do
          カテゴリー一覧
      .footer__contents__box--list
        = link_to "#", class: "linkFooter" do
          ブランド一覧
    .footer__contents__box
      .footer__contents__box--head
        ヘルプ&ガイド
      .footer__contents__box--list
        = link_to "#", class: "linkFooter" do
          FURIMAガイド
      .footer__contents__box--list
        = link_to "#", class: "linkFooter" do
          FURIMAロゴ利用ガイドライン
      .footer__contents__box--list
        = link_to "#", class: "linkFooter" do
          お知らせ
  .footer__logo
    = link_to "#", class:"link" do
      = image_tag "logo-white.png", class:"footer__logo--img"
  .footer__copy
    © FURIMA
= link_to new_item_path, data: {"turbolinks" => false}, class:"link" do
  .purchaseBtn
    .purchaseBtn__text
      出品する
      = image_tag "icon_camera.png", class: "purchaseBtn__img"