.header
  .header__inner
    .main
      .main__icon
        = link_to root_path do
          = image_tag 'logo.png', class: 'main__icon__image'
      .main__searchBox
        %input.main__searchBox--input{name: "key", placeholder: "キーワードから探す"}
        %button.main__searchBox__submit{type: "submit"}
          = icon("fas", "search", class:"main__searchBox__submit--icon") 
    .naviLists
      .naviLists__Left
        .naviLists__Left--category
          カテゴリー
        .naviLists__Left--brand
          ブランド
      .naviLists__Right
        .naviLists__Right--login
          = link_to new_user_session_path, class:"link" do
            ログイン
        .naviLists__Right--new
          = link_to new_user_registration_path, class:"link" do
            新規会員登録
        .naviLists__Right--logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete
