
.notice.text-style
  - if flash[:notice]
    %p= flash[:notice]

= render "header"

.mainImage
  .mainImage__content
    .mainImage__content__subtitle
      人生を変えるフリマアプリ
    .mainImage__content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .mainImage__content__btn
      = link_to "#", class:"storeLink" do
        .mainImage__content__btn--apple
          = image_tag 'Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: "storeIcon--a"
      = link_to "#", class:"storeLink" do
        .mainImage__content__btn--google
          = image_tag 'google-play-badge (1).png', class: "storeIcon--g"
.introduction
  .introduction__subtitle
    FURIMAが選ばれる3つの理由
  .introduction__lists
    .introduction__lists__box
      .introduction__lists__box--img
        .number
          1
        = image_tag 'pict-reason-01.jpg', class:"img"
      .introduction__lists__box--text
        .introduction__lists__box--text--color
          3分
        ですぐに出品
      .introduction__lists__box--discription
        スマホで入力するだけで簡単に出品できる！
    .introduction__lists__box
      .introduction__lists__box--img
        .number
          2
        = image_tag 'pict-reason-02.jpg', class:"img"
      .introduction__lists__box--text
        .introduction__lists__box--text--color
          シンプル
        で使いやすい
      .introduction__lists__box--discription
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    .introduction__lists__lastBox
      .introduction__lists__lastBox--img
        .number
          3
        = image_tag 'pict-reason-03.jpg', class:"img"
      .introduction__lists__lastBox--text
        手数料
        .introduction__lists__lastBox--text--color
          業界最安値
      .introduction__lists__lastBox--discription
        最大3%でお得に出品&購入！

.middleImage
  .middleImage__inner
    .middleImage__inner__subtitle
      会員数日本一位
    .middleImage__inner__text
      FURIMAはフリマアプリで最も人気。
      %br
      出品、購入回数も業界最多です！
      %br
      ほしかったあの商品にも出会えるかもしれません。
    .middleImage__inner__btn
      = link_to "#", class:"storeLink" do
        .middleImage__inner__btn--apple
          = image_tag 'Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg', class: "storeIcon--a"
      = link_to "#", class:"storeLink" do
        .middleImage__inner__btn--google
          = image_tag 'google-play-badge (1).png', class: "storeIcon--g"

.feature
  .feature__subtitle
    FURIMAの特徴
  .feature__lists
    .feature__lists__box
      .feature__lists__box--img
        = image_tag 'icon-01.png', class: "feature__img"
      .feature__lists__box--text
        簡単に売り買いできる
      .feature__lists__box--discription
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能
    .feature__lists__box
      .feature__lists__box--img
        = image_tag 'icon-03.png', class: "feature__img"
      .feature__lists__box--text
        売上金は即日振込みに対応
      .feature__lists__box--discription
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金致します。
    .feature__lists__box
      .feature__lists__box--img
        = image_tag 'icon-04.png', class: "feature__img"
      .feature__lists__box--text
        様々な支払いに対応
      .feature__lists__box--discription
        お支払いはクレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

.pickupItem
  .pickupItem__head
    ピックアップカテゴリー
  .pickupItem__box
    .pickupItem__box__head
      .pickupItem__box__head--title
        新規投稿商品
    .pickupItem__box__lists
      = render @items
      
= render "items/footer" 