-# 高橋さん担当
=render "header"

.main-content
  .main-content__box
    .item-name
      = @item.name

    .item-main-content
      %ul.item-main-content__photo
        = image_tag @images.first.src.url, alt: '商品画像', size: "300x300" ,class: "item-image-main"
        %li.photo-up-piece
          - @item.images.each_with_index do |image, i|
            = image_tag image.src.url, size:"60x60", class:"item-image-lists", data: { index: i }

       
      
      %table.item-main-content__table
        %tbody
          %tr
            %th.text-style 出品者
            %td
              = @item.user.nickname
          %tr
            %th カテゴリー
            %td.category-names.text-style
              = @grandchild.parent.parent.name
              %br
              %i.fa.fa-angle-right
              = @grandchild.parent.name
              %br
              %i.fa.fa-angle-right
              = @grandchild.name
          %tr
            %th.text-style 商品の状態
            %td.text-style 
              = @item.item_condition.name
          %tr
            %th.text-style 配送料の負担
            %td.text-style
              = @item.delivery_fee.name
          %tr
            %th.text-style 配送元地域
            %td.text-style
              = @item.prefecture.name
          %tr
            %th.text-style 発送日の目安
            %td.text-style
              = @item.delivery_day.name

    .item-price-box
      .item-price-box__price
        = number_to_currency(@item.price, unit: "￥", strip_insignificant_zeros: true)
      .item-price-box__tax
        (税込)
      .item-price-box__shipping-fee
        送料込み
      
    .item-buy-link
      -if user_signed_in? && current_user.id == @item.user_id
        = link_to '商品の編集', edit_item_path(@item.id), class:'item-buy-link__btn'
        = link_to '商品の削除', item_path(@item.id), method: :delete, data: {confirm: '削除してよろしいですか？'} ,class:'item-buy-link__btn--delete'
      - else
        = link_to '購入画面に進む', item_purchase_index_path(@item.id), class:'item-buy-link__btn'

    .item-description 
      .item-description__box
        = @item.description
       
  .main-content__comment
    .comment__message
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .comment__box
      %textarea.comment__box--text{type: "text"}
      = link_to 'コメントする', '#', class:'coment_btn'

  %ul.main-content__links
    %li
      = link_to '#' do
        %i.fa.fa-angle-left
        前の商品
    %li
      = link_to '#' do
        後ろの商品
        %i.fa.fa-angle-right

= render "footer"